*{
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow-x: hidden;
    background: rgb(95, 93, 93);
    color: #111;
    margin: 0;
}

.container {
    background: #fafafa;
    transform-origin: top left;
}

.container.show-nav {
    transform: rotate(-20deg);
}